<div>
  <h1>Real Time Products</h1>
  <h2>Lista de Productos</h2>

  <form id="formNewProduct">
    <input type="text" name="name" placeholder="Ingrese el nombre" required />
    <input type="text" name="description" placeholder="Ingrese la descripción" required />
    <input type="text" name="code" placeholder="Ingrese el código" required />
    <input type="number" name="price" placeholder="Ingrese el precio" step="0.01" required />
    <button type="submit">Enviar</button>
  </form>

  <ul id="productsList">
    {{#each products}}
      <li id="product-{{this.id}}">
        {{this.name}} - {{this.price}}
        <button class="delete-btn" data-id="{{this.id}}">Borrar</button>
      </li>
    {{/each}}
  </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
